
<div ng-include="'partials/navbar.html'"></div>

<div ng-controller="AccountCtrl" class="account container">

    <form role="form">
        <div class="col-md-4 col-lg-4">
            <fieldset>
                <h3>Update User Info</h3>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" type="text" id="name" name="name" ng-model="user.name" placeholder="">
                </div>
                <div class="form-group">
                    <label for="Password">Email</label>
                    <input type="text" class="form-control" ng-model="user.email" id="Password" placeholder="user.email">
                </div>
                <button class="btn btn-danger " ng-click="logout()">Log Out</button>
            </fieldset>

        </div>
        <div class="col-md-4 col-lg-4">
            <fieldset>
                <h3>Change Password</h3>
                <p class="error" ng-show="err">{{err}}</p>
                <p class="good" ng-show="msg">{{msg}}</p>
                <div class="form-group">
                    <label for="Password">Old Password</label>
                    <input class="form-control" type="password" ng-keypress="reset()" ng-model="oldpass"/>
                </div>
                <div class="form-group">
                    <label for="Password">New Password</label>
                    <input  class="form-control" type="password" ng-keypress="reset()" ng-model="newpass"/>
                </div>
                <div class="form-group">
                    <label for="Password">Confirm New Password</label>
                    <input  class="form-control" type="password" ng-keypress="reset()" ng-model="confirm"/>
                </div>
                <button class="btn btn-success" ng-click="updatePassword()">Update Password</button>
            </fieldset>
        </div>
        <div class="col-md-4 col-lg-4">
            <fieldset>
                <h3>Change Email</h3>
                <p class="error" ng-show="emailerr">{{emailerr}}</p>
                <p class="good" ng-show="emailmsg">{{emailmsg}}</p>
                <div class="form-group">
                    <label for="Password">New Email</label>
                    <input  class="form-control" type="email" ng-keypress="reset()" ng-model="newemail"/>
                </div>

                <div class="form-group">
                    <label for="Password">Password</label>
                    <input  class="form-control" type="password" ng-keypress="reset()" ng-model="pass"/>
                </div>
                <button class="btn btn-success" ng-click="updateEmail()">Update Email</button>
            </fieldset>
        </div>

    </form>


</div>
