
<div ng-controller="CustomerViewCtrl">
    <div class="row">

            <canvas id="myCanvas" width="1000px" height="600px">
                <!-- Insert fallback content here -->
            </canvas>


    </div>
    <a href="#/dashboard.html" class="menu-back-button"><i class="fa fa-tachometer"></i></a>
    <div class="checkbox enable-print-checkbox">
        <label>
            <button class="btn btn-success btn-xs" type="button" id="addCircle">Add Circle</button>
            <button class="btn btn-success btn-xs" type="button" id="startAnim">Start</button>
            <button class="btn btn-danger btn-xs" type="button" id="stopAnim">Stop</button>
            <button class="btn btn-danger btn-xs" type="button"id="resetAnim">Reset</button>
        </label>
    </div>

</div>