 <div class="container">
    <div class="row dashboard">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-6 dash">
            <a href="#/order">
                <i class="fa fa-money fa-5x"></i><br>Order</a>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-6 dash">
            <a href="#/kitchen">
                <i class="fa fa-tasks fa-rotate-90 fa-5x "></i><br>Kitchen Display</a>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-6 dash">
            <a href="#/kitchen-touch">
                <i class="fa fa-hand-o-up fa-5x "></i><br>Kitchen Touch</a>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4  col-xs-6 dash">
            <a href="#/menu">
                <i class="fa fa-cutlery o fa-5x"></i><br>Menu</a>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4  col-xs-6 dash">
            <a href="#/edit-menu">
                <i class="fa fa-stack-exchange fa-5x"></i><br>Edit Menu</a>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4  col-xs-6 dash">
            <a href="#/archive">
                <i class="fa fa-book fa-5x"></i><br>Archived Orders</a>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-6 dash">
            <a href="#/customer-view">
                <i class="fa fa-users fa-5x"></i><br>Customer View</a>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-6 dash">
            <a href="#/sms">
                <i class="fa fa-mobile fa-5x"></i><br>SMS</a>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-6 dash">
            <a href="#/waitlist">
                <i class="fa fa-clock-o fa-5x"></i><br>Wait List</a>
        </div>
    </div>
 </div>