<div ng-include="'partials/navbar.html'"></div>
<div class="container" ng-controller="AccountCtrl">
<div class="row dashboard">
    <div class="col-md-4 col-lg-4 col-sm-4 dash">
        <a href="#/order">
            <i class="fa fa-money fa-5x"></i><br>Order</a>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 dash">
        <a href="#/kitchen">
            <i class="fa fa-tasks fa-rotate-90 fa-5x "></i><br>Kitchen Display</a>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 dash">
        <a href="#/kitchen-touch">
            <i class="fa fa-hand-o-up fa-5x "></i><br>Kitchen Touch</a>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 dash">
        <a href="#/menu">
            <i class="fa fa-cutlery o fa-5x"></i><br>Menu</a>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 dash">
        <a href="#/edit-menu">
            <i class="fa fa-stack-exchange fa-5x"></i><br>Edit Menu</a>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 dash">
        <a href="#/archive">
            <i class="fa fa-book fa-5x"></i><br>Archived Orders</a>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 dash">
        <a href="#/account">
            <i class="fa fa-user o fa-5x"></i><br>My Account</a>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 dash">
        <a href="#/customer-view">
            <i class="fa fa-bullseye fa-5x"></i><br>Customer View<br>BETA</a>
    </div>
</div>
    <span class="login-name">Logged in as {{user.name}}</span>

    <button class="btn btn-danger log-out-button" ng-click="logout()">Log Out&#160;<i class="fa fa-power-off fa-lg"></i></button>

</div>