<div ng-controller="EditMenuCtrl" class="edit-menu">
      <accordion close-others="oneAtATime">

        <accordion-group  heading="{{menuItem.name}}" ng-repeat="(key,menuItem) in menu">
            <div class="row">
                <div class="col-md-6">

                    <input bs-form-control label="Name" ng-model="menuItem.name" class="edit-name"/>
                </div>
                <div class="col-md-6">

                    <input bs-form-control label="Description" ng-model="menuItem.description" class="edit-description"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">

                    <input bs-form-control label="Price" ng-model="menuItem.price" class="edit-price"/>
                </div>
                <div class="col-md-6">

                    <input bs-form-control label="Category" ng-model="menuItem.category" class="edit-category"/><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">

                    <select label="Style Class" bs-form-control class="form-control" ng-model="menuItem.class" ng-options="color as color for color in colors"></select>

                </div>
                <div class="col-md-6">

                    <select bs-form-control label="Font Awesome Icon" class="form-control" ng-model="menuItem.icon" ng-options="icon as icon for icon in icons"></select>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">

                    <input bs-form-control label="Shortname" ng-model="menuItem.shortname" class="edit-shortname"/>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-danger pull-right" ng-click="deleteItem(key)"><i class="fa fa-trash-o">Delete?</i></button>
                </div>
            </div>

        </accordion-group>
         <hr>

        <accordion-group heading="Add New Item">
            <div class="row">
                <div class="col-md-6">

                    <input bs-form-control label="Name"  ng-model="newMenuItem.name" class="edit-name"/>
                </div>
                <div class="col-md-6">

                    <input bs-form-control label="Description" ng-model="newMenuItem.description" class="edit-description"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">

                    <input bs-form-control label="Price" ng-model="newMenuItem.price" class="edit-price"/>
                </div>
                <div class="col-md-6">

                    <input bs-form-control label="Category" ng-model="newMenuItem.category" class="edit-category"/><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">

                    <select label="Style Class" bs-form-control class="form-control edit-class" ng-model="newMenuItem.class" ng-options="color as color for color in colors"></select>
                </div>
                <div class="col-md-6">

                    <select bs-form-control label="Font Awesome Icon" class="form-control edit-icon" ng-model="newMenuItem.icon" ng-options="icon as icon for icon in icons"></select>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">

                    <input bs-form-control label="Shortname" ng-model="newMenuItem.shortname" class="edit-shortname"/>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-success pull-right" ng-click="addItem()"><i class="fa fa-plus"></i>Add?</button>
                </div>
            </div>
        </accordion-group>
    </accordion>

</div>