<div ng-controller="HelpCtrl" >
    <div class="form-signin container" >
        <div class="logo-login">
            <br>
            <br>
           <br>
            <img src="img/logos/logo-white.png" class="login-logo" width="95%">
        </div>
        <h3 class="text-center">Version 1.0</h3>
        <br>

        <br>
        <h2 >Help and Support</h2>
        <br>
        <h5 >Having problems? Let us know. We are here for you.</h5>
        <br>
        <ul>
            <li>
                <i class="fa fa-phone fa-2x"></i> &nbsp;  &nbsp; <a href="tel: 1-904-370-3191">(904) 370-3191</a>
            </li>
            <br>
            <li>
                <i class="fa fa-envelope-o fa-2x"></i> &nbsp;  &nbsp;   <a href="mailto:help@nimble.technology">help@nimble.technology</a>

            </li>
        </ul>


    </div>
    <a href="#/dashboard.html" class="menu-back-button"><i class="fa fa-tachometer"></i></a>
</div>