<div ng-controller="LoginCtrl">

    <div class="logo-login">
        <img src="img/logos/logo.png" class="login-logo" width="80%">


    </div>


    <div class="container">


        <div class="login-buttons">
            <h1>Sign in to Order</h1><br>
            <a class="btn btn-block btn-social btn-facebook" ng-click="fbLogin()">
                <i class="fa fa-facebook"></i> Sign in with Facebook
            </a>
            <!--<a class="btn btn-block btn-social btn-google-plus" ng-click="googLogin()">-->
                <!--<i class="fa fa-google-plus"></i> Sign in with Google-->
            <!--</a>-->

            <a class="btn btn-block btn-social btn-twitter" ng-click="twitLogin()">
                <i class="fa fa-twitter"></i> Sign in with Twitter
            </a>

        </div>

    </div> <!-- /container -->

</div>