
<div class="navbar navbar-app navbar-absolute-top"  ng-controller="LoginCtrl">

    <div class="navbar-brand navbar-brand-center">
        <a  href="#">OrderUpp</a>
    </div>

    <div class="btn-group pull-left">
        <div class="btn btn-navbar">
            Left Action
        </div>
    </div>

    <div class="btn-group pull-right">
        <div class="btn btn-navbar">
            <li ng-show-auth="'login'"><a href="#/dashboard"><i class="fa fa-dashboard"></i>&#160;Dashboard</a></li>
        </div>
    </div>
</div>