<a class="list-group-item main-sidebar" href="#/order"><i class="fa fa-money fa-2x"></i> Order </a>
<a class="list-group-item main-sidebar" href="#/kitchen">  <i class="fa fa-tasks fa-rotate-90 fa-2x"></i> Kitchen Display</a>
<a class="list-group-item main-sidebar" href="#/kitchen-touch">  <i class="fa fa-hand-o-up fa-2x"></i> Kitchen Touch</a>
<a class="list-group-item main-sidebar" href="#/menu">  <i class="fa fa-cutlery fa-2x"></i> Menu</a>
<a class="list-group-item main-sidebar" href="#/edit-menu">  <i class="fa fa-stack-exchange fa-2x"></i> Edit Menu</a>
<a class="list-group-item main-sidebar" href="#/archive">  <i class="fa fa-book fa-2x "></i> Archived Orders</a>
<a class="list-group-item main-sidebar" href="#/customer-view">  <i class="fa fa-users fa-2x"></i>Customer View</a>
<!--<a class="list-group-item main-sidebar" href="#/sms">  <i class="fa fa-mobile fa-2x "></i> Send SMS</a>-->
<a class="list-group-item main-sidebar" href="#/waitlist">  <i class="fa fa-clock-o fa-2x "></i> Wait List</a>
<a class="list-group-item main-sidebar" href="#/help">  <i class="fa fa-bell-o fa-2x "></i> Help</a>
<a class="list-group-item main-sidebar" href="#/dashboard">  <i class="fa fa-tachometer fa-2x "></i> Dashboard</a>

